---
Language:        Cpp
# Use 2 spaces for indentation
IndentWidth:     2
# Use spaces instead of tabs
UseTab:          Never
# Indent namespace contents
NamespaceIndentation: All
# Indent case labels inside switch statements
IndentCaseLabels: true
# Add a space between the function name and the opening parenthesis
SpaceBeforeParens: Never
# Use a newline before and after braces for functions and classes
BreakBeforeBraces: Yes
...
